/* General Styles */
@font-face {
    font-family: 'NeWake';
    src: url('./newake.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:first-child {
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 0px;
}

button {
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 10px;
}

button:hover {
    color: #fff;
    background-color: rgb(0, 0, 0);
}

/* General Styles */

/* Animation Styles */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveInTop {
    from {
        top: -100%
    }

    to {
        top: 0%
    }
}

@keyframes moveInBottom {
    from {
        bottom: -100%
    }

    to {
        bottom: 0%
    }
}

@keyframes moveInLeftSide {
    from {
        left: -100%
    }

    to {
        left: 0%
    }
}

@keyframes moveInRightSide {
    from {
        right: -100%
    }

    to {
        right: 0%
    }
}

@keyframes bf-giltch-1 {
    from {
        left: 0px
    }

    to {
        left: 5px
    }
}

@keyframes bf-giltch-2 {
    from {
        top: 0px
    }

    to {
        top: 10px
    }
}

/* Animation Styles */

/* Body Styles */

.body {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.left-side {
    color: #181818;
    text-align: left;
    animation: moveInLeftSide 4s;
    position: relative;
}

.right-side {
    animation: moveInRightSide 4s;
    position: relative;
}

.middle-section {
    padding-left: 25px;
    font-family: 'Inter Tight';
    font-weight: 200;
    font-size: 1.2em;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-rows: 33.33%;
}

.middle-section h1 {
    font-size: 3.5em;
    letter-spacing: 2px;
    font-family: 'NeWake';
}

.middle-section p:first-child {
    text-align: center;
}

.middle-section p {
    width: 80%;
    margin: 0 auto;
    line-height: 32px;
    text-align: center;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text.first-child {
    align-items: end;
}

.center-text:last-child {
    align-items: start;
}

.emoji {
    font-size: 45px;
}

.bg-img {
    background-image: url('../img/landscape-bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.animation-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    row-gap: 3em;
}


.butterfly-1 {
    width: max-content;
    height: max-content;
    position: relative;
    animation-name: fadeIn, bf-giltch-1;
    animation-timing-function: ease, ease-in-out;
    animation-duration: 5s, 3s;
    animation-delay: 3s, 5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both;
}

.bf-1 {
    height: 90px;
    margin-left: 40px;
    margin-top: 50px;
}

.butterfly-2 {
    width: max-content;
    height: max-content;
    position: relative;
    animation-name: fadeIn, bf-giltch-2;
    animation-timing-function: ease, ease;
    animation-duration: 5s, 3s;
    animation-delay: 3s, 5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both;
}

.bf-2 {
    height: 100px;
    margin-left: 80px;
    margin-top: 110px;
}

.butterfly-3 {
    width: max-content;
    height: max-content;
    position: relative;
    animation-name: fadeIn, bf-giltch-1;
    animation-timing-function: ease, ease-in-out;
    animation-duration: 5s, 3s;
    animation-delay: 3s, 5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both;
}

.bf-3 {
    height: 80px;
    margin-left: 50px;
    margin-top: 300px;
}

.butterfly-4 {
    width: max-content;
    height: max-content;
    position: relative;
    animation-name: fadeIn, bf-giltch-2;
    animation-timing-function: ease, ease;
    animation-duration: 5s, 3s;
    animation-delay: 3s, 5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-fill-mode: both;
}

.animation-grid-two .butterfly-4 {
    z-index: -1;
}

.bf-4 {
    height: 90px;
    margin-left: 175px;
    margin-top: 300px;
}

/* Body Styles */


/* Media Queries */

@media (min-width: 2560px) {
    .animation-grid {
        height: 100vh;
        row-gap: 20em;
        margin-left: 10%;
    }

    .middle-section p {
        width: 55%;
    }
}

@media (max-width: 940px) {

    .left-side {
        padding: 1.5em;
    }

    .animation-grid {
        width: 100%;
    }

    .animation-grid-two {
        display: none;
    }

    .middle-section h1 {
        font-size: 4.5em;
    }

    .middle-section p {
        width: 100%;
        text-align: left;
    }

    .middle-section p:first-child {
        padding-top: 5%;
        text-align: center;
    }

    .bf-3 {
        margin-left: 125px;
        margin-top: 100px;
    }

    .hp-p, .hp-btn-group {
        justify-content: left;
    }

    button, button:first-child {
        padding: 10px 25px;
    }
}


@media (max-width: 768px) {
    .body {
        grid-template-columns: auto;
    }

    .middle-section {
        padding-left: 0px;
    }

      .middle-section p, .middle-section p:first-child {
        width: 70%;
        text-align: center;
    }

    .middle-section p:first-child {
        padding-top: 5%;
    }

    .left-side {
        margin-top: -10%;
    }

    .right-side {
        display: none;
    }

    .animation-grid-two {
        display: grid;
    }

    .bf-1 {
        height: 140px;
    }

    .bf-2 {
        height: 143px;
        margin-left: 220px;
        margin-top: 115px;
    }

    .bf-3 {
        height: 115px;
        margin-left: 0px;
        margin-top: 250px;
    }

    .butterfly-4 {
        z-index: -1;
    }

    .bf-4 {
        margin-left: 235px;
    }

    .hp-p, .hp-btn-group {
        justify-content: center;
    }
}

@media (max-width: 500px) {

    .left-side {
        padding: 0;
    }

    .middle-section {
        padding-left: 25px;

    }

    .middle-section p, .middle-section p:first-child {
        width: 100%;
        text-align: left;
    }

    .middle-section p:first-child {
        padding-top: 5%;
    }

    .emoji {
        display: none;
    }


    .butterfly-3 {
        z-index: -1;
    }

    .bf-1 {
        height: 140px;
        margin-left: -20px;
    }

    .bf-2 {
        height: 130px;
        margin-left: 20px;
    }

    .bf-3 {
        height: auto;
        margin-left: 0px;
        margin-top: 490px;
    }

    .bf-4 {
        margin-left: 125px;
        margin-top: 445px;
    }

    .hp-p, .hp-btn-group {
        justify-content: left;
    }

    .centerText div {
        padding: 5%;
    }
}

@media (max-width: 425px) {
    .middle-section h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 412px) {
    .center-text.first-child {
         align-items: start; 
    }
}

@media (max-width: 360px) {
    .bf-4 {
        margin-left: 90px;
    } 
}

/* Media Queries */