/* General Styles */
@font-face {
    font-family: 'NeWake';
    src: url('./newake.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;700;900&display=swap');

html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:first-child {
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
    border: none;
    text-align: left;
    color: #000;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.hp-btn-group a {
    margin-left: 10px;
}

.wp-btn-group {
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.wp-btn-group button {
    z-index: 10;
    padding: 10px 50px;
    margin-left: 15px;
}

@keyframes moveInLeftSide {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes moveInRightSide {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

/* General Styles */



/* Body Styles */
.body {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.right-side {
    color: #000;
    text-align: left;
    animation: moveInLeftSide 4s;
    position: relative;
    display: grid;
    grid-template-rows: 33.33%;
    text-align: center;
}


.middle-content h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-body {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 1px;
}

.content-body p {
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}

.btn-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.left-side {
    background-image: url('../img/img-1.webp');
    background-size: cover;
    animation: moveInRightSide 4s;
    position: relative;
    display: grid;
    grid-template-rows: 33.33%;
    text-align: center;
}


.left-side h1 {
    color: transparent;
    font-size: 4.2rem;
    font-family: 'NeWake';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: .5px;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black {
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .1px;
}

/* Body Styles */


/* Media Queries */

@media (min-width: 2560px) {

    .content-body p {
        width: 55%;
    }
}

@media (max-width: 1260px) {
    .body {
        grid-template-columns: auto;
    }

}

@media (max-width: 1024px) {
    .content-body p {
        width: 85%;
    }
}


@media (max-width: 500px) {

    .left-side h1 {
        font-size: 2.5rem;
        margin-top: 10%;
    }

    .content-body p {
        width: 85%;
    }

    .btn-grid {
        grid-template-columns: auto;
    }

    .hp-btn-group a {
        margin-left: 0px; 
    }

}

@media only screen and (max-width: 320px) {
    .left-side h1 {
        font-size: 2rem;
    }

    button {
        font-size: 16px !important;
    }

    .content-body p {
        width: 75%;
    }
}

/* Media Queries */