/* General Styles */
@font-face {
    font-family: 'NeWake';
    src: url('./newake.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;700;900&display=swap');


html,
.body {
    width: auto;
    height: auto;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.body button {
    background-color: rgb(230, 150, 119);
    border: none;
    text-align: left;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.body button:hover {
    color: rgb(230, 150, 119);
    background-color: transparent;
    border: 1px solid rgb(230, 150, 119);
}

.hp-btn-group a {
    margin-left: 10px;
}

/* Animations */

.glitch-about {
    animation: glitch-about 1s infinite alternate-reverse;
}


@keyframes glitch-about {
    0% {
        transform: rotateY(-20deg);
    }
    100% {
        transform: rotateY(20deg);
    }
}


@keyframes moveInLeftSide {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes moveInRightSide {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

/* Animations */

/* General Styles */


/* Body Styles */
.body {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.right-side {
    color: #000;
    text-align: left;
    animation: moveInRightSide 2s;
    position: relative;
    display: grid;
    grid-template-rows: 33.33%;
    text-align: center;
}


.content-body h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    letter-spacing: 2px;
}

.content-body {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 1px;
}

.content-quote {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-body p {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.left-side {
    background-image: url('../img/img-1.webp');
    background-size: cover;
    animation: moveInLeftSide 2s;
    position: relative;
    display: grid;
    grid-template-rows: 33.33%;
    text-align: center;
}

.emoji {
    font-size: 50px;
}

.website-title h1 {
    font-family: 'NeWake';
    font-size: 15rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black {
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .1px;
}

.flowerImg {
    width: 250px;
    height: auto;
}

/* Body Styles */


/* Media Queries */

@media (min-width: 2560px) {

    .content-body p {
        width: 55%;
    }
}

@media (max-width: 1260px) {
    .body {
        grid-template-columns: auto;
    }


    .left-side h1 {
        font-size: 8rem;
    }

}

@media (max-width: 1024px) {
    .content-body p {
        width: 75%;
    }
}


@media (max-width: 500px) {

    .btn-grid {
        grid-template-columns: auto;
    }

    .hp-btn-group a {
        margin-left: 0px;
    }

    .flowerImg {
        width: 175px;
        height: auto;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 320px) {

    button {
        font-size: 16px !important;
    }

    .content-body p {
        width: 75%;
    }
}

/* Media Queries */