.contact .left-side {
    background-image: url('../img/img-6.webp');
    background-image: url('../img/img-6.png');
    padding: 0px !important;
}

.contact .right-side {
    background-color: #fff;
    padding: 0px !important;
}

.contact .menu-item-icon {
    font-size: 80px;
}

.contact .website-title h1 {
    font-size: 8rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.contact .website-title h1:hover {
    font-size: 8rem;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.contact .website-title p {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

.website-title p:hover {
    font-weight: 400;
}

.contact .content-body h3 {
    padding: 5px
}

.contact .hp-btn-group {
    margin-top: -20px;
    padding: 5px;
}


.contact button {
    background-color:  rgb(200, 173, 232);
    border: none;
    text-align: left;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.contact button:hover {
    color:  rgb(200, 173, 232);
    background-color: #fff;
    border: 1px solid rgb(200, 173, 232);
}

/* Animation */

.spin-y {
    animation: spin-y 20s infinite linear;
}
 
@keyframes spin-y {
    0% {
        transform: rotateY(0deg);
    }
    
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Animation */

@media only screen and (max-width: 1260px) {

    .contact .website-title h1, .contact .website-title h1:hover {
        font-size: 5rem;
    }

}

@media only screen and (max-width: 320px) {

    .contact .website-title h1, .contact .website-title h1:hover {
        font-size: 4rem;
    }

}

