/* Menu Styles */
.collapsible-menu {
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    color: #000;
    display: grid;
    grid-template-rows: 33.33%;
    height: 100vh;
    position: absolute;
    width: 2em;
    z-index: 10;
}

.collapsible-menu:hover {
    border-right: 1px solid #000;
    color: #fff;
    cursor: pointer;
}


.menu-text-box {
    width: max-content;
}

.menu-arrow:hover {
    cursor: pointer;
}

.menu-text {
    font-family: 'NeWake';
    font-size: 20px;
}

#rotateText {
    padding: 0px;
    transform: rotate(-90deg);
    font-family: 'NeWake';
    letter-spacing: 4px;
    position: relative;
    animation: glitch 1s ease infinite alternate;
    margin-top: 110px;
}

.emoji-menu-icon {
    font-size: 12px;
}

#menu-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    animation: none;
    padding: 10px;
    z-index: 10;
    visibility: hidden;
}

#menu-icon-close:hover {
    cursor: pointer;
}

.material-symbols-rounded {
    color: #000;
    margin-top: -10px;
    font-size: 50px;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 48
}


/* Animation */

.spin {
    animation: spin 20s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes glitch {
    from {
        left: -4px;
    }

    to {
        left: 2px;
    }
}

@keyframes bounce {
    from {
        top: 0px;
    }

    to {
        top: -4px;
    }
}

/* Animation */

.menu-grid {
    background-color: #fff;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .5px;
    grid-template-columns: repeat(3, auto);
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.menu-grid div:hover {
    color: transparent;
    border-color: #000;
    cursor: pointer;
}

.menu-grid h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    text-transform: uppercase;
}

.menuDiv1,
.menuDiv2,
.menuDiv3,
.menuDiv4,
.menuDiv5,
.menuDiv6 {
    border-right: 1px solid #000;
}

.menuDiv1,
.menuDiv2,
.menuDiv3,
.menuDiv4,
.menuDiv5,
.menuDiv6 {
    border-bottom: 1px solid #000;
}

.menuDiv1:hover {
    background-image: url('../img/img-1.webp');
    background-image: url('../img/img-1.png');
    background-size: cover;
}


.menuDiv2:hover {
    background-image: url('../img/img-2.webp');
    background-image: url('../img/img-2.png');
    background-size: cover;
}


.menuDiv3:hover {
    background-image: url('../img/img-3.webp');
    background-image: url('../img/img-3.png');
    background-size: cover;
}


.menuDiv4:hover {
    background-image: url('../img/img-4.webp');
    background-image: url('../img/img-4.png');
    background-size: cover;
}


.menuDiv5:hover {
    background-image: url('../img/img-5.webp');
    background-image: url('../img/img-5.png');
    background-size: cover;
}


.menuDiv6:hover {
    background-image: url('../img/img-6.webp');
    background-image: url('../img/img-6.png');
    background-size: cover;
}

.navigate-icon {
    display: none;
}


/* Menu Styles */


/* Media Queries */

@media only screen and (max-width: 1260px) {

   
}

@media only screen and (max-width: 768px) {

    .menu-grid {
        grid-template-columns: auto;
    }

    .menu-grid h1 {
        font-size: 1.5rem;
        color: #000;
    }

    .innerMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .mobileMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 15% 85%;

    }

    .mobile-menu-title {
        text-align: left;
    }

    .menuDiv2 img,
    .menuDiv3 img {
        margin-top: -15px;
    }

    .navigate-icon {
        display: block;
    }

    .material-symbols-rounded {
        margin-top: -20px;
    }

    .navigate {
        text-align: right;
    }

    .menuDiv1-mobile {
        background-image: url('../img/img-1.webp');
        background-image: url('../img/img-1.png');
        background-size: cover;
    }


    .menuDiv2-mobile {
        background-image: url('../img/img-2.webp');
        background-image: url('../img/img-2.png');
        background-size: cover;
    }


    .menuDiv3-mobile {
        background-image: url('../img/img-3.webp');
        background-image: url('../img/img-3.png');
        background-size: cover;
    }


    .menuDiv4-mobile {
        background-image: url('../img/img-4.webp');
        background-image: url('../img/img-4.png');
        background-size: cover;
    }


    .menuDiv5-mobile {
        background-image: url('../img/img-5.webp');
        background-image: url('../img/img-5.png');
        background-size: cover;
    }


    .menuDiv6-mobile {
        background-image: url('../img/img-6.webp');
        background-image: url('../img/img-6.png');
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {
    .collapsible-menu {
        width: 100%;
        height: auto;
        position: absolute;
    }

    .inner-collapsible-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        height: max-content;
    }

    .menu-text-box {
        width: auto;
    }

    #rotateText {
        animation: none;
        transform: none;
        text-align: center;
        margin-top: 0 !important;
        animation: bounce 1s infinite ease-in-out alternate-reverse;
    }

    .innerMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
    }


    .mobileMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .mobile-menu-icon {
        margin-top: -12px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 425px) {


    .menuDiv1,
    .menuDiv2,
    .menuDiv3,
    .menuDiv4,
    .menuDiv5,
    .menuDiv {
        height: 100px;
    }

    .mobileMenuGrid {
        grid-template-columns: 25% 75%;
    }
}


/* Media Queries */