/* Menu Styles */
.collapseable-menu {
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-rows: 33.33%;
    height: 100vh;
    width: 2em;
    position: absolute;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.collapseable-menu:hover {
    background-color: #000;
    color: #fff;
}

.menu-text-box {
    width: max-content;
}

.menu-arrow:hover {
    cursor: pointer;
}

.menu-text {
    font-family: 'NeWake';
    font-size: 20px;
}

#rotateText {
    padding: 0px;
    transform: rotate(-90deg);
    font-family: 'NeWake';
    letter-spacing: 4px;
    margin: 0 -28px;
    font-size: 16px;
    position: relative;
    animation: glitch 1s ease infinite alternate;
}

.emoji-menu {
    font-size: 12px;
}

#menu-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    animation: none;
    padding: 10px;
    z-index: 10;
    visibility: hidden;
}

#menu-icon-close:hover {
    cursor: pointer;
}

.material-symbols-rounded {
    color: #000;
    margin-top: -10px;
    font-size: 50px;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 48
}


/* Animation */

.spin {
    animation: spin 20s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes glitch {
    from {
        left: -4px;
    }

    to {
        left: 2px;
    }
}

/* Animation */

.menu-grid {
    background-color: #fff;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .5px;
    grid-template-columns: repeat(3, auto);
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.menu-grid div:hover {
    border-color: #000;
    cursor: pointer;
    color: #000;
}

.menu-grid h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    text-transform: uppercase;
}

.menuDiv1,
.menuDiv2,
.menuDiv3,
.menuDiv4,
.menuDiv5,
.menuDiv6 {
    border-right: 1px solid #000;
}

.menuDiv1,
.menuDiv2,
.menuDiv3,
.menuDiv4,
.menuDiv5,
.menuDiv6 {
    border-bottom: 1px solid #000;
}

.menuDiv1:hover {
    background-image: url('../img/img-1.webp');
    background-image: url('../img/img-1.png');
    background-size: cover;
}


.menuDiv2:hover {
    background-image: url('../img/img-2.webp');
    background-image: url('../img/img-2.png');
    background-size: cover;
}


.menuDiv3:hover {
    background-image: url('../img/img-3.webp');
    background-image: url('../img/img-3.png');
    background-size: cover;
}


.menuDiv4:hover {
    background-image: url('../img/img-4.webp');
    background-image: url('../img/img-4.png');
    background-size: cover;
}


.menuDiv5:hover {
    background-image: url('../img/img-5.webp');
    background-image: url('../img/img-5.png');
    background-size: cover;
}


.menuDiv6:hover {
    background-image: url('../img/img-6.webp');
    background-image: url('../img/img-6.png');
    background-size: cover;
}

.navigate-icon {
    display: none;
}


/* Menu Styles */


/* Media Queries */

@media only screen and (max-width: 1260px) {
    .collapseable-menu {
        background-color: #000;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .collapseable-menu:hover {
        background-color: #fff;
        color: #000;
        border-color: #000;
    }
}

@media only screen and (max-width: 768px) {

    .menu-grid {
        grid-template-columns: auto;
    }

    .menu-grid h1 {
        font-size: 1.5rem;
        color: #000;
    }

    .innerMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 40px;
    }

    .mobileMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 15% 85%;

    }

    .mobile-menu-title {
        text-align: left;
    }

    .menuDiv2 img,
    .menuDiv3 img {
        margin-top: -15px;
    }

    .navigate-icon {
        display: block;
    }

    .material-symbols-rounded {
        margin-top: -20px;
    }

    .navigate {
        text-align: right;
    }

    .menuDiv1-mobile {
        background-image: url('../img/img-1.webp');
        background-image: url('../img/img-1.png');
        background-size: cover;
    }


    .menuDiv2-mobile {
        background-image: url('../img/img-2.webp');
        background-image: url('../img/img-2.png');
        background-size: cover;
    }


    .menuDiv3-mobile {
        background-image: url('../img/img-3.webp');
        background-image: url('../img/img-3.png');
        background-size: cover;
    }


    .menuDiv4-mobile {
        background-image: url('../img/img-4.webp');
        background-image: url('../img/img-4.png');
        background-size: cover;
    }


    .menuDiv5-mobile {
        background-image: url('../img/img-5.webp');
        background-image: url('../img/img-5.png');
        background-size: cover;
    }


    .menuDiv6-mobile {
        background-image: url('../img/img-6.webp');
        background-image: url('../img/img-6.png');
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {

    .innerMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }


    .mobileMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .mobile-menu-icon {
        margin-top: -12px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 425px) {
    .collapseable-menu {
        width: 25px;
    }

    .middle-content h1 {
        margin-left: 15px;
    }

    .content-body p {
        width: 65%;
    }

    .content-body .center-text {
        display: grid;
    }

    .mobileMenuGrid {
        grid-template-columns: 25% 75%;
    }
}


/* Media Queries */