/* Menu Styles */
.collapsible-menu {
    animation: top 2s linear both;
    background-color: rgba(0,0,0, .3); 
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%);
    color: #000;
    height: 30px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.inner-collapsible-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: max-content;
}

.menu-text-box {
    width: auto;
}

#rotateText {
    text-align: center;
    margin-top: 5px;
    padding: 0px;
    animation: bounce 1s infinite ease-in-out alternate-reverse;
    position: relative;
}

.innerMenuGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.collapsible-menu:hover {
    background-color: rgb(252, 252, 252);
    color: #000;
    cursor: pointer;
}

.menu-arrow:hover {
    cursor: pointer;
}

.menu-text {
    font-family: 'NeWake';
    font-size: 20px;
}

.emoji-menu-icon {
    font-size: 12px;
}

#menu-icon-close {
    color: #fff;
    font-family: 'Inter Tight';
    position: fixed;
    right: 0;
    top: 0;
    animation: none;
    padding: 10px;
    z-index: 10;
    visibility: hidden;
}

#menu-icon-close:hover {
    color: #000;
    cursor: pointer;
}

.material-symbols-rounded {
    margin-top: -10px;
    font-size: 50px;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 48
}

.main-menu-icon,
.navigate-icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.main-menu-icon {
    font-size: 35px;
}


/* Animation */

.spin-y-menu {
    animation: spin-y-menu 5s infinite linear ;
}


@keyframes spin-y-menu {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


@keyframes glitch {
    from {
        left: -2px;
    }

    to {
        left: 2px;
    }
}

@keyframes bounce {
    from {
        top: 5px;
    }

    to {
        top: -5px;
    }
}

@keyframes top {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

/* Animation */

.menu-grid {
    background-color: rgba(0,0,0,.7);
    grid-template-columns: repeat(3, auto);
    height: 95vh;
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menu-grid div:hover {
    cursor: pointer;
}

.menu-grid h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    text-transform: uppercase;
}

.menuDiv1,
.menuDiv2,
.menuDiv4,
.menuDiv5 {
    //border-right: 1px solid #aaa;
}

.menuDiv1,
.menuDiv2,
.menuDiv3 {
    //border-bottom: 1px solid #aaa;
}

.menuDiv1 {
    color: rgb(230, 150, 119);
}

.menuDiv1 .menu-item-icon {
    color: rgb(230, 150, 119);
    -webkit-text-stroke-color: rgb(230, 150, 119);
}

.menuDiv1:hover {
    background-color: rgb(230, 150, 119);
    color: #000;
}

.menuDiv2 {
    color: rgb(152, 180, 232);
}

.menuDiv2 .menu-item-icon {
    color: rgb(152, 180, 232);
    -webkit-text-stroke-color: rgb(152, 180, 232);
}


.menuDiv2:hover {
    background-color: rgb(152, 180, 232);
    color: #000;
}

.menuDiv3 {
    color: rgb(192, 210, 167);
}

.menuDiv3 .menu-item-icon {
    color: rgb(192, 210, 167);
    -webkit-text-stroke-color: rgb(192, 210, 167);
}

.menuDiv3:hover {
    color: #000;
    background-color: rgb(192, 210, 167);
}

.menuDiv4 {
    color: rgb(224, 205, 179);
}

.menuDiv4 .menu-item-icon {
    color: rgb(224, 205, 179);
    -webkit-text-stroke-color: rgb(224, 205, 179);
}

.menuDiv4:hover {
    color: #000;
    background-color: rgb(224, 205, 179);
}

.menuDiv5 {
    color: rgb(238,191,116);
}

.menuDiv5 .menu-item-icon {
    color: rgb(238,191,116);
    -webkit-text-stroke-color: rgb(238,191,116);
}

.menuDiv5:hover {
    color: #000;
    background-color: rgb(249, 230, 144);
}

.menuDiv6 {
    color: rgb(200, 173, 232);
}

.menuDiv6 .menu-item-icon {
    color: rgb(200, 173, 232);
    -webkit-text-stroke-color: rgb(200, 173, 232);
}

.menuDiv6:hover {
    color: #000;
    background-color: rgb(200, 173, 232);
}

.mobile-menu-add-icon {
    font-size: 30px;
    margin-top: 5px;
}

.navigate-icon {
    display: none;
}
/* Menu Styles */


/* Media Queries */

@media only screen and (max-width: 1024px) {

    .menuDiv .center-text {
        display: block;
        justify-content: baseline;
        align-items: center;
        text-align: center;
    }

    .menu-grid {
        grid-template-columns: auto;
    }


    .menu-grid h1 {
        font-size: 1.5rem;
        color: #000;
    }

    .innerMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .mobileMenuGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 3em auto 3em;
    }


    .mobile-menu-title {
        text-align: left;
    }

    .menuDiv2 img,
    .menuDiv3 img {
        margin-top: -15px;
    }

    .navigate-icon {
        display: block;
    }

    .material-symbols-rounded {
        font-size: 35px;
    }

    .navigate {
        text-align: right;
    }

    .menuDiv1,
    .menuDiv2,
    .menuDiv3 {
        border-bottom: none;
    }

    .menuDiv1, .menuDiv2, .menuDiv4, .menuDiv5 {
        border-right: none;
    }

    .menuDiv1-mobile,
    .menuDiv1-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv1-mobile .mobile-menu-title {
        color: rgb(230, 150, 119);
    }

    .menuDiv1-mobile .mobile-menu-icon {
        color: rgb(230, 150, 119);
        -webkit-text-stroke-color: rgb(230, 150, 119);
    }

    .menuDiv2-mobile,
    .menuDiv2-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv2-mobile .mobile-menu-title {
        color: rgb(152, 180, 232);
    }

    .menuDiv2-mobile .mobile-menu-icon {
        color: rgb(152, 180, 232);
        -webkit-text-stroke-color: rgb(152, 180, 232);
    }

    .menuDiv3-mobile,
    .menuDiv3-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv3-mobile .mobile-menu-title {
        color: rgb(192, 210, 167);
    }

    .menuDiv3-mobile .mobile-menu-icon {
        color: rgb(192, 210, 167);
        -webkit-text-stroke-color: rgb(192, 210, 167);
    }

    .menuDiv4-mobile,
    .menuDiv4-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv4-mobile .mobile-menu-title {
        color: rgb(224, 205, 179);
    }

    .menuDiv4-mobile .mobile-menu-icon {
        color: rgb(224, 205, 179);
        -webkit-text-stroke-color: rgb(224, 205, 179);
    }

    .menuDiv5-mobile,
    .menuDiv5-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv5-mobile .mobile-menu-title {
        color: rgb(249, 230, 144);
    }

    .menuDiv5-mobile .mobile-menu-icon {
        color: rgb(249, 230, 144);
        -webkit-text-stroke-color: rgb(249, 230, 144);
    }

    .menuDiv6-mobile,
    .menuDiv6-mobile:hover {
        background-image: none;
        background-color: transparent;
    }

    .menuDiv6-mobile .mobile-menu-title {
        color: rgb(200, 173, 232);
    }

    .menuDiv6-mobile .mobile-menu-icon {
        color: rgb(200, 173, 232);
        -webkit-text-stroke-color: rgb(200, 173, 232);
    }

    .mobile-menu-add-icon {
        display: none;
    }

}

@media only screen and (max-width: 500px) {


    .mobile-menu-icon {
        font-size: 40px;
    }


}

/* Media Queries */