/* Menu Styles */
.collapseable-menu {
    background: #fceabb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f8b500, #fceabb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f8b500, #fceabb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-right: 1px solid #fff;
    color: #fff;
    display: grid;
    grid-template-rows: 33.33%;
    height: 100vh;
    width: max-content;
    position: absolute;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.collapseable-menu:hover {
    color: #000;
    border-color: #000;
}

.menu-arrow-box {
    width: max-content;
}

.menu-arrow {
    animation: glitch 1s ease infinite alternate;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 20px;
    padding: 0 5px;
    position: relative;
}

.menu-arrow:hover {
    cursor: pointer;
}

#menu-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    animation: none;
    padding: 10px;
    z-index: 10;
    visibility: hidden;
}

#menu-icon-close:hover {
    color: #fff;
    cursor: pointer;
}


@keyframes glitch {
    from {
        left: -4px;
    }

    to {
        left: 2px;
    }
}

.menu-grid {
    background-color: #fff;
    color: #000;
    grid-template-columns: repeat(3, auto);
    height: 100vh;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
}


.menu-grid div:hover {
  border-color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  color: #fff;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: .5px;
}

.menu-grid h1 {
    font-family: 'NeWake';
    font-size: 2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    .menu-grid h1 {
        font-size: 1rem;
    }
}

.menuDiv1 {
    background-image: url('../img/img-1.webp');
    background-size: cover;
    background-color: #f3a9b0;
}

.menuDiv2 {
    background-image: url('../img/img-2.webp');
    background-size: cover;
    background-color: #7D94E7;
}

.menuDiv3 {
    background-image: url('../img/img-3.webp');
    background-size: cover;
    background-color: #CCE1D4;
}

.menuDiv4 {
    background-image: url('../img/img-4.webp');
    background-size: cover;
    background-color: #D2BBF0;
}

.menuDiv5 {
    background-image: url('../img/img-5.webp');
    background-size: cover;
    background-color: #D3B8A8;
}

.menuDiv6 {
    background-image: url('../img/img-6.webp');
    background-size: cover;
    background-color: #849BEE;
}

/* Menu Styles */