
.nbk .left-side {
    background-image: url('../img/img-3.webp');
    background-image: url('../img/img-3.png');
}

.nbk .right-side {
    background-color: #fff;
}

.nbk .website-title h1 {
    font-size: 15rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.nbk .website-title h1:hover {
    font-size: 15rem;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.nbk .website-title p {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

.website-title p:hover {
    font-weight: 400;
}

.nbk .content-body h3 {
    padding: 5px
}

.nbk .hp-btn-group {
    margin-top: -20px;
    padding: 5px;
}


.nbk button {
    background-color:  rgb(192, 210, 167);
    border: none;
    text-align: left;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'NeWake';
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.nbk button:hover {
    color:  rgb(192, 210, 167);
    background-color: #fff;
    border: 1px solid rgb(192, 210, 167);
}

/* Animation */

.spin-y {
    animation: spin-y 20s infinite linear;
}
 
@keyframes spin-y {
    0% {
        transform: rotateY(0deg);
    }
    
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Animation */

@media only screen and (max-width: 1260px) {

    .nbk .website-title h1, .nbk .website-title h1:hover {
        font-size: 8rem;
    }
}

