.nbk .left-side {
    grid-template-rows: auto;
}

.nbk .right-side {
    background-image: url('../img/img-3.webp');
    background-image: url('../img/img-3.png');
}

.nbk .right-side {
    background-color: #fff;
}

.nbk .website-title h1 {
    font-size: 15rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.nbk .website-title h1:hover {
    font-size: 15rem;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.website-title p {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

.website-title p:hover {
    font-weight: 400;
}

.nbk .middle-content h1 {
    padding: 5px;
}

.nbk .content-body h3 {
    padding: 5px
}

.nbk .hp-btn-group {
    margin-top: -20px;
    padding: 5px;
}


/* Animation */

.spin-y {
    animation: spin-y 10s infinite;
}

@keyframes spin-y {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Animation */

@media only screen and (max-width: 1260px) {

    .nbk .insert-quote {
        background-image: url('../img/img-3.webp');
        background-image: url('../img/img-3.png');
    }

    .nbk .left-side .middle-content {
        background-image: none;
        background-color: #fff;
    }

    hr {
        display: none;
    }


}

@media only screen and (max-width: 500px) {
    .nbk .insert-quote {
        background: none;
    }

    .nbk .left-side {
        background-image: url('../img/img-3.webp');
        background-image: url('../img/img-3.png');
    }

    .nbk .middle-content {
        background-color: transparent !important;

    }
}