.thl .left-side {
    grid-template-rows: auto;
}

.thl .right-side {
    background-image: url('../img/img-2.webp');
    background-image: url('../img/img-2.png');
}

.thl .right-side {
    background-color: #fff;
}

.thl .website-title h1 {
    font-size: 15rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.thl .website-title h1:hover {
    font-size: 15rem;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.thl .website-title p {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

.website-title p:hover {
    font-weight: 400;
}

.thl .middle-content h1 {
    padding: 5px;
}

.thl .content-body h3 {
    padding: 5px
}

.thl .hp-btn-group {
    margin-top: -20px;
    padding: 5px;
}

/* Animation */

.spin {
    animation: spin 20s infinite linear;
}
 
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animation */

@media only screen and (max-width: 1260px) {

    .thl .insert-quote {
        background-image: url('../img/img-2.webp');
        background-image: url('../img/img-2.png');
    }

    .thl .left-side .middle-content {
        background-image: none;
        background-color: #fff;
    }



}

@media only screen and (max-width: 500px) {
    .thl .insert-quote {
        background: none;
    }

    .thl .left-side {
        background-image: url('../img/img-2.webp');
        background-image: url('../img/img-2.png');
    }

    .thl .middle-content {
        background-color: transparent !important;
        
    }
}