
.thl .left-side {
    background-image: url('../img/img-2.webp');
    background-image: url('../img/img-2.png');
}

.thl .right-side {
    background-color: #fff;
}

.thl .website-title h1 {
    font-size: 15rem;
    letter-spacing: 5px;
    color: #000;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.thl .website-title h1:hover {
    font-size: 15rem;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 1px;
}

.thl .website-title p {
    font-family: 'Inter Tight';
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

.website-title p:hover {
    font-weight: 400;
}

.thl .content-body h3 {
    padding: 5px
}

.thl .hp-btn-group {
    margin-top: -20px;
    padding: 5px;
}

/* Animation */

.spin-y {
    animation: spin-y 20s infinite linear;
}
 
@keyframes spin-y {
    0% {
        transform: rotateY(0deg);
    }
    
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Animation */

@media only screen and (max-width: 1260px) {

    .thl .website-title h1, .thl .website-title h1:hover {
        font-size: 8rem;
    }

    .left-side {
        padding: 10px;
    }

    .right-side {
        padding: 20px;
    }
}

